In [1]:
import pandas as pd
import numpy as np

In [2]:
park_1979_1997 = pd.read_excel("../data/changed_parked_data/Annual_All_Report_By_Park_1979_1997.xlsx", skiprows=9)
park_1979_1997.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Columns: 223 entries, Park Name to Average_1979_1997_Misc_Overnights
dtypes: float64(222), object(1)
memory usage: 587.2+ KB

In [3]:
park_1998_2017 = pd.read_excel("../data/changed_parked_data/Annual_All_Report_By_Park_1998_2017.xlsx", skiprows=9)
park_1998_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Columns: 234 entries, Park Name to Average_1998_2017_Misc_Overnights
dtypes: float64(222), int64(11), object(1)
memory usage: 692.9+ KB

**Initial Analysis of the data revealed that there were (378-336 = 42) new parks added after 1997**

In [4]:
park_1979_1997.head(5)

,Park Name,1979_Recreational_Visits,1980_Recreational_Visits,1981_Recreational_Visits,1982_Recreational_Visits,1983_Recreational_Visits,1984_Recreational_Visits,1985_Recreational_Visits,1986_Recreational_Visits,1987_Recreational_Visits,...,1989_Misc_Overnights,1990_Misc_Overnights,1991_Misc_Overnights,1992_Misc_Overnights,1993_Misc_Overnights,1994_Misc_Overnights,1995_Misc_Overnights,1996_Misc_Overnights,1997_Misc_Overnights,Average_1979_1997_Misc_Overnights
0,Abraham Lincoln Birthplace NHP,271231.0,239074.0,252245.0,318707.0,256126.0,258023.0,264905.0,280620.0,292825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,Acadia NP,2787366.0,2779666.0,2997972.0,3572114.0,4124639.0,3734763.0,3745570.0,3929054.0,4288154.0,...,0.0,9748.0,9581.0,9796.0,10518.0,10511.0,10476.0,9512.0,10286.0,4233.052632
2,Adams NHP,34322.0,24974.0,27055.0,25440.0,26162.0,23398.0,24555.0,24693.0,25617.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,Agate Fossil Beds NM,8115.0,8330.0,9459.0,9018.0,10097.0,10317.0,10366.0,10187.0,11439.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,Alibates Flint Quarries NM,1922.0,2211.0,2384.0,2398.0,1919.0,2251.0,2200.0,2202.0,2494.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [5]:
park_1998_2017.head(5)

,Park Name,1998_Recreational_Visits,1999_Recreational_Visits,2000_Recreational_Visits,2001_Recreational_Visits,2002_Recreational_Visits,2003_Recreational_Visits,2004_Recreational_Visits,2005_Recreational_Visits,2006_Recreational_Visits,...,2009_Misc_Overnights,2010_Misc_Overnights,2011_Misc_Overnights,2012_Misc_Overnights,2013_Misc_Overnights,2014_Misc_Overnights,2015_Misc_Overnights,2016_Misc_Overnights,2017_Misc_Overnights,Average_1998_2017_Misc_Overnights
0,Abraham Lincoln Birthplace NHP,250842.0,251204.0,236180.0,229675.0,250772.0,211650.0,201828.0,190809.0,200054.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
1,Acadia NP,2594497.0,2602227.0,2469238.0,2516551.0,2558572.0,2431062.0,2207847.0,2051484.0,2083588.0,...,7212.0,8549.0,7243.0,8083.0,7047.0,8474.0,8343.0,8563.0,10889,8608.1
2,Adams NHP,63569.0,84574.0,87347.0,167500.0,173944.0,215659.0,239504.0,220467.0,225318.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
4,Agate Fossil Beds NM,17594.0,18117.0,17933.0,17399.0,17129.0,16233.0,15235.0,14209.0,13521.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0

In [6]:
park_names_1998_2017 = park_1998_2017['Park Name'] 
park_names_1979_1997 = park_1979_1997['Park Name']
len(set(park_names_1979_1997))

337

In [7]:
len(set(park_names_1998_2017))

379

In [8]:
all_parks = set(park_names_1998_2017) | set(park_names_1979_1997)
len(all_parks)
print("Total parks when datasets are combinbed: {}".format(len(all_parks)))

Total parks when datasets are combinbed: 379

In [9]:
merged_dataset = pd.merge(park_1998_2017, park_1979_1997, on=['Park Name'],how='outer')
merged_dataset.shape

(379, 456)

In [10]:
merged_dataset

,Park Name,1998_Recreational_Visits,1999_Recreational_Visits,2000_Recreational_Visits,2001_Recreational_Visits,2002_Recreational_Visits,2003_Recreational_Visits,2004_Recreational_Visits,2005_Recreational_Visits,2006_Recreational_Visits,...,1989_Misc_Overnights,1990_Misc_Overnights,1991_Misc_Overnights,1992_Misc_Overnights,1993_Misc_Overnights,1994_Misc_Overnights,1995_Misc_Overnights,1996_Misc_Overnights,1997_Misc_Overnights,Average_1979_1997_Misc_Overnights
0,Abraham Lincoln Birthplace NHP,250842.0,251204.0,236180.0,229675.0,250772.0,211650.0,201828.0,190809.0,200054.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,Acadia NP,2594497.0,2602227.0,2469238.0,2516551.0,2558572.0,2431062.0,2207847.0,2051484.0,2083588.0,...,0.0,9748.0,9581.0,9796.0,10518.0,10511.0,10476.0,9512.0,10286.0,4233.052632
2,Adams NHP,63569.0,84574.0,87347.0,167500.0,173944.0,215659.0,239504.0,220467.0,225318.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agate Fossil Beds NM,17594.0,18117.0,17933.0,17399.0,17129.0,16233.0,15235.0,14209.0,13521.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
5,Alibates Flint Quarries NM,3293.0,3047.0,3131.0,2456.0,2125.0,1811.0,2012.0,2919.0,1882.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
6,Allegheny Portage Railroad NHS,111100.0,111391.0,133396.0,142340.0,146484.0,129995.0,126441.0,115357.0,121009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.000000
7,Amistad NRA,1129811.0,1164166.0,1234506.0,1097650.0,1047784.0,1071199.0,1445772.0,1399852.0,1599271.0,...,4003.0,3143.0,3255.0,2970.0,2504.0,2683.0,1138.0,736.0,1569.0,2026.315789
8,Andersonville NHS,225653.0,182539.0,167373.0,160974.0,190004.0,150661.0,165929.0,132466.0,132153.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9,Andrew Johnson NHS,60207.0,51779.0,59897.0,49551.0,48878.0,51910.0,50196.0,48552.0,50701.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
10,Aniakchak NM & PRES,209.0,377.0,251.0,206.0,241.0,154.0,285.0,285.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.000000
11,Antietam NB,275385.0,268897.0,286896.0,303599.0,303209.0,279694.0,237885.0,295309.0,282676.0,...,2133.0,3899.0,3362.0,3063.0,3659.0,2915.0,1595.0,3894.0,2045.0,2486.263158
12,Apostle Islands NL,236829.0,193260.0,181760.0,185435.0,169674.0,169699.0,151881.0,175245.0,189051.0,...,17120.0,17942.0,17692.0,12805.0,15010.0,15941.0,18793.0,16567.0,17471.0,15546.526316
13,Appomattox Court House NHP,201874.0,198665.0,196363.0,190422.0,177219.0,155031.0,152453.0,136827.0,145804.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.578947
14,Arches NP,837161.0,869980.0,786429.0,754026.0,769672.0,757781.0,733131.0,781670.0,833049.0,...,7739.0,7707.0,7835.0,6467.0,5090.0,8837.0,5723.0,4931.0,5264.0,5655.894737
15,Arkansas Post NMEM,51858.0,49087.0,43903.0,43502.0,48126.0,37905.0,38183.0,37740.0,36665.0,...,146.0,52.0,197.0,135.0,78.0,34.0,0.0,1.0,3.0,47.578947
16,Arlington House The R.E. Lee MEM,511200.0,476911.0,377011.0,429470.0,416531.0,378688.0,492831.0,498553.0,509522.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
17,Assateague Island NS,1836784.0,1891992.0,1810501.0,1897634.0,2117458.0,2020666.0,2048789.0,1996502.0,1932817.0,...,14261.0,7534.0,9646.0,7112.0,12427.0,8707.0,9569.0,8388.0,8334.0,6804.526316
18,Aztec Ruins NM,63259.0,58318.0,52136.0,46451.0,47401.0,42493.0,45423.0,44050.0,40779.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
19,Badlands NP,1021049.0,950453.0,1105824.0,955469.0,908898.0,871034.0,936030.0,909146.0,840118.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
20,Bandelier NM,354672.0,332764.0,248276.0,313850.0,291436.0,287096.0,263285.0,250161.0,243765.0,...,0.0,0.0,0.0,1902.0,2475.0,2507.0,2100.0,2039.0,2629.0,718.526316
21,Belmont-Paul Women's Equality NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bent's Old Fort NHS,41106.0,36814.0,30461.0,30987.0,29830.0,31247.0,30964.0,27760.0,26483.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
23,Bering Land Bridge NPRES,3740.0,3000.0,3025.0,3525.0,2775.0,2425.0,2710.0,2428.0,1265.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Big Bend NP,338442.0,327649.0,262320.0,328927.0,327747.0,312384.0,357723.0,398583.0,298717.0,...,24026.0,22142.0,22993.0,25751.0,41738.0,41750.0,41806.0,36503.0,40218.0,29052.789474
25,Big Cypress NPRES,474895.0,503110.0,505062.0,409771.0,449481.0,400902.0,385194.0,768687.0,825857.0,...,1117.0,2532.0,4790.0,6273.0,0.0,0.0,0.0,0.0,0.0,1634.666667
26,Big Hole NB,64968.0,62302.0,40470.0,56619.0,61142.0,56146.0,60128.0,54934.0,55049.0,...,0.0,0.0,0.0,30.0,92.0,0.0,50.0,0.0,1.0,9.105263
27,Big South Fork NRRA,856480.0,860224.0,864200.0,916548.0,852873.0,752140.0,696114.0,699230.0,622807.0,...,3902.0,4815.0,2867.0,4897.0,2927.0,3137.0,2381.0,4348.0,4274.0,3649.100000
28,Big Thicket NPRES,60087.0,60193.0,62009.0,98526.0,101830.0,101580.0,107782.0,92383.0,91126.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
29,Bighorn Canyon NRA,279637.0,234013.0,238049.0,241388.0,167792.0,228701.0,149011.0,194519.0,177414.0,...,2277.0,1473.0,1125.0,1176.0,1106.0,1133.0,1373.0,295.0,0.0,1534.894737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,Valley Forge NHP,1784520.0,1308986.0,1350434.0,1230025.0,1158423.0,1132976.0,1088271.0,1293001.0,1340679.0,...,1470.0,1378.0,0.0,1000.0,2664.0,1500.0,1953.0,1250.0,1800.0,841.315789
350,Vanderbilt Mansion NHS,383038.0,313863.0,410575.0,396656.0,403016.0,359982.0,405264.0,372517.0,391899.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
351,Vicksburg NMP,1005918.0,1021860.0,934226.0,992284.0,1023370.0,901672.0,958081.0,703484.0,676605.0,...,0.0,0.0,254.0,226.0,250.0,212.0,124.0,266.0,554.0,99.263158
352,Vietnam Veterans MEM,4687299.0,4442238.0,3782445.0,3704008.0,3296596.0,2839006.0,3789889.0,3799968.0,3629739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
353,Virgin Islands NP,556849.0,425345.0,703992.0,677401.0,693494.0,821681.0,793590.0,803040.0,677289.0,...,137653.0,135235.0,131119.0,87417.0,163750.0,146988.0,147770.0,137055.0,114171.0,132968.052632
354,Voyageurs NP,231958.0,228898.0,227371.0,243374.0,238227.0,234231.0,249041.0,234577.0,231875.0,...,24664.0,26653.0,25939.0,0.0,0.0,0.0,0.0,0.0,0.0,13383.315789
355,Waco Mammoth NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Walnut Canyon NM,115342.0,122064.0,112649.0,102839.0,106962.0,111465.0,126931.0,128275.0,120820.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
357,War in the Pacific NHP,134067.0,138575.0,155789.0,149865.0,152881.0,1698.0,11832.0,30332.0,40005.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
358,Washington Monument,340190.0,553420.0,185085.0,0.0,454768.0,529985.0,378416.0,467550.0,586603.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
359,Washita Battlefield NHS,NaN,NaN,NaN,NaN,15374.0,15467.0,14733.0,15311.0,14408.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Weir Farm NHS,11844.0,15058.0,15910.0,17643.0,16113.0,15455.0,11333.0,11129.0,11795.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.000000
361,Whiskeytown NRA,752478.0,716526.0,702883.0,695018.0,696590.0,750951.0,745185.0,740275.0,749979.0,...,20692.0,21029.0,20272.0,25532.0,27071.0,25111.0,19360.0,23129.0,18910.0,18660.263158
362,White House,1027479.0,1015395.0,1175714.0,856042.0,178092.0,182542.0,357250.0,455643.0,481951.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
363,White Sands NM,592957.0,553948.0,515229.0,518958.0,498964.0,492008.0,448185.0,450447.0,440927.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
364,Whitman Mission NHS,77967.0,74954.0,67035.0,64679.0,61293.0,56009.0,56169.0,55826.0,52849.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
365,William Howard Taft NHS,7166.0,5960.0,8267.0,8946.0,13401.0,16275.0,16347.0,14328.0,14720.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
366,Wilson's Creek NB,176036.0,177721.0,196502.0,223531.0,203356.0,200081.0,162798.0,207199.0,141677.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
367,Wind Cave NP,849974.0,761717.0,668507.0,650357.0,810298.0,874167.0,593877.0,612478.0,591049.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
368,Wolf Trap NP for the Performing Arts,523354.0,549491.0,523843.0,539999.0,566654.0,554646.0,541597.0,554386.0,490547.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
369,Women's Rights NHP,74263.0,36672.0,26501.0,23771.0,21880.0,19426.0,19772.0,18239.0,16146.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
370,World War II Memorial,NaN,NaN,NaN,NaN,NaN,NaN,5382498.0,4410379.0,3865430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,World War II Valor in the Pacific NM,1358699.0,1402418.0,1444904.0,1436006.0,1499760.0,1476396.0,1566633.0,1556808.0,1542757.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
372,Wrangell-St. Elias NP & PRES,27859.0,29252.0,28331.0,28643.0,40352.0,43311.0,57221.0,56224.0,50336.0,...,0.0,1560.0,0.0,0.0,0.0,1420.0,703.0,832.0,836.0,341.750000
373,Wright Brothers NMEM,419210.0,375681.0,429472.0,438548.0,440737.0,712181.0,421341.0,458948.0,466144.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
374,Wupatki NM,217466.0,245225.0,243270.0,239476.0,236394.0,266159.0,247971.0,219480.0,236449.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
375,Yellowstone NP,3120830.0,3131381.0,2838233.0,2758526.0,2973677.0,3019375.0,2868317.0,2835651.0,2870295.0,...,9198.0,13276.0,13918.0,10484.0,13440.0,12221.0,12214.0,9151.0,11607.0,10381.894737
376,Yosemite NP,3657132.0,3493607.0,3400903.0,3368731.0,3361867.0,3378664.0,3280911.0,3304144.0,3242644.0,...,0.0,0.0,0.0,0.0,66332.0,75804.0,59286.0,63279.0,26111.0,15305.894737
377,Yukon-Charley Rivers NPRES,4451.0,4072.0,3677.0,6571.0,5144.0,5552.0,4260.0,12784.0,12083.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
378,Zion NP,2370048.0,2449664.0,2432348.0,2217779.0,2592545.0,2458792.0,2677342.0,2586665.0,2567350.0,...,11764.0,13991.0,15828.0,16296.0,17001.0,17909.0,15722.0,14205.0,13358.0,13430.368421

In [11]:
'''
Use regex match to get the column names for all the data
\d+_Recreational_Visits along with Park Name
'''
recreational_visits = merged_dataset.filter(regex=("(\d+_Recreational_Visits)|(Park)"))
recreational_visits.columns

Index(['Park Name', '1998_Recreational_Visits', '1999_Recreational_Visits',
       '2000_Recreational_Visits', '2001_Recreational_Visits',
       '2002_Recreational_Visits', '2003_Recreational_Visits',
       '2004_Recreational_Visits', '2005_Recreational_Visits',
       '2006_Recreational_Visits', '2007_Recreational_Visits',
       '2008_Recreational_Visits', '2009_Recreational_Visits',
       '2010_Recreational_Visits', '2011_Recreational_Visits',
       '2012_Recreational_Visits', '2013_Recreational_Visits',
       '2014_Recreational_Visits', '2015_Recreational_Visits',
       '2016_Recreational_Visits', '2017_Recreational_Visits',
       'Average_1998_2017_Recreational_Visits', '1979_Recreational_Visits',
       '1980_Recreational_Visits', '1981_Recreational_Visits',
       '1982_Recreational_Visits', '1983_Recreational_Visits',
       '1984_Recreational_Visits', '1985_Recreational_Visits',
       '1986_Recreational_Visits', '1987_Recreational_Visits',
       '1988_Recreational_Visits', '1989_Recreational_Visits',
       '1990_Recreational_Visits', '1991_Recreational_Visits',
       '1992_Recreational_Visits', '1993_Recreational_Visits',
       '1994_Recreational_Visits', '1995_Recreational_Visits',
       '1996_Recreational_Visits', '1997_Recreational_Visits',
       'Average_1979_1997_Recreational_Visits'],
      dtype='object')

In [12]:
'''
Use regex match to get the column names for all the data
\d+_Non_Recreational_Visits along with Park Name
'''
non_recreational_visits = merged_dataset.filter(regex=("(\d+_Non_Recreational_Visits)|(Park)"))
non_recreational_visits.columns

Index(['Park Name', '1998_Non_Recreational_Visits',
       '1999_Non_Recreational_Visits', '2000_Non_Recreational_Visits',
       '2001_Non_Recreational_Visits', '2002_Non_Recreational_Visits',
       '2003_Non_Recreational_Visits', '2004_Non_Recreational_Visits',
       '2005_Non_Recreational_Visits', '2006_Non_Recreational_Visits',
       '2007_Non_Recreational_Visits', '2008_Non_Recreational_Visits',
       '2009_Non_Recreational_Visits', '2010_Non_Recreational_Visits',
       '2011_Non_Recreational_Visits', '2012_Non_Recreational_Visits',
       '2013_Non_Recreational_Visits', '2014_Non_Recreational_Visits',
       '2015_Non_Recreational_Visits', '2016_Non_Recreational_Visits',
       '2017_Non_Recreational_Visits',
       'Average_1998_2017_Non_Recreational_Visits',
       '1979_Non_Recreational_Visits', '1980_Non_Recreational_Visits',
       '1981_Non_Recreational_Visits', '1982_Non_Recreational_Visits',
       '1983_Non_Recreational_Visits', '1984_Non_Recreational_Visits',
       '1985_Non_Recreational_Visits', '1986_Non_Recreational_Visits',
       '1987_Non_Recreational_Visits', '1988_Non_Recreational_Visits',
       '1989_Non_Recreational_Visits', '1990_Non_Recreational_Visits',
       '1991_Non_Recreational_Visits', '1992_Non_Recreational_Visits',
       '1993_Non_Recreational_Visits', '1994_Non_Recreational_Visits',
       '1995_Non_Recreational_Visits', '1996_Non_Recreational_Visits',
       '1997_Non_Recreational_Visits',
       'Average_1979_1997_Non_Recreational_Visits'],
      dtype='object')

In [13]:
'''
Use regex match to get the column names for all the data
\d+_Misc_Overnights along with Park Name
'''
misc_overnights = merged_dataset.filter(regex=("(\d+_Misc_Overnights)|(Park)"))
misc_overnights.columns

Index(['Park Name', '1998_Misc_Overnights', '1999_Misc_Overnights',
       '2000_Misc_Overnights', '2001_Misc_Overnights', '2002_Misc_Overnights',
       '2003_Misc_Overnights', '2004_Misc_Overnights', '2005_Misc_Overnights',
       '2006_Misc_Overnights', '2007_Misc_Overnights', '2008_Misc_Overnights',
       '2009_Misc_Overnights', '2010_Misc_Overnights', '2011_Misc_Overnights',
       '2012_Misc_Overnights', '2013_Misc_Overnights', '2014_Misc_Overnights',
       '2015_Misc_Overnights', '2016_Misc_Overnights', '2017_Misc_Overnights',
       'Average_1998_2017_Misc_Overnights', '1979_Misc_Overnights',
       '1980_1979_1997_Misc_Overnights', '1981_Misc_Overnights',
       '1982_Misc_Overnights', '1983_Misc_Overnights', '1984_Misc_Overnights',
       '1985_Misc_Overnights', '1986_Misc_Overnights', '1987_Misc_Overnights',
       '1988_Misc_Overnights', '1989_Misc_Overnights', '1990_Misc_Overnights',
       '1991_Misc_Overnights', '1992_Misc_Overnights', '1993_Misc_Overnights',
       '1994_Misc_Overnights', '1995_Misc_Overnights', '1996_Misc_Overnights',
       '1997_Misc_Overnights', 'Average_1979_1997_Misc_Overnights'],
      dtype='object')

In [14]:
'''
Use regex match to get the column names for all the data
\d+_Concessioner_Camping along with Park Name
'''
concessioner_camping = merged_dataset.filter(regex=("(\d+_Concessioner_Camping)|(Park)"))
concessioner_camping.columns

Index(['Park Name', '1998_Concessioner_Camping', '1999_Concessioner_Camping',
       '2000_Concessioner_Camping', '2001_Concessioner_Camping',
       '2002_Concessioner_Camping', '2003_Concessioner_Camping',
       '2004_Concessioner_Camping', '2005_Concessioner_Camping',
       '2006_Concessioner_Camping', '2007_Concessioner_Camping',
       '2008_Concessioner_Camping', '2009_Concessioner_Camping',
       '2010_Concessioner_Camping', '2011_Concessioner_Camping',
       '2012_Concessioner_Camping', '2013_Concessioner_Camping',
       '2014_Concessioner_Camping', '2015_Concessioner_Camping',
       '2016_Concessioner_Camping', '2017_Concessioner_Camping',
       'Average_1998_2017_Concessioner_Camping', '1979_Concessioner_Camping',
       '1980_Concessioner_Camping', '1981_Concessioner_Camping',
       '1982_Concessioner_Camping', '1983_Concessioner_Camping',
       '1984_Concessioner_Camping', '1985_Concessioner_Camping',
       '1986_Concessioner_Camping', '1987_Concessioner_Camping',
       '1988_Concessioner_Camping', '1989_Concessioner_Camping',
       '1990_Concessioner_Camping', '1991_Concessioner_Camping',
       '1992_Concessioner_Camping', '1993_Concessioner_Camping',
       '1994_Concessioner_Camping', '1995_Concessioner_Camping',
       '1996_Concessioner_Camping', '1997_Concessioner_Camping',
       'Average_1979_1997_Concessioner_Camping'],
      dtype='object')

In [15]:

'''
Use regex match to get the column names for all the data
\d+_Tent_Overnights along with Park Name
'''
tent_overnights = merged_dataset.filter(regex=("(\d+_Tent_Overnights)|(Park)"))
tent_overnights.columns

Index(['Park Name', '1998_Tent_Overnights', '1999_Tent_Overnights',
       '2000_Tent_Overnights', '2001_Tent_Overnights', '2002_Tent_Overnights',
       '2003_Tent_Overnights', '2004_Tent_Overnights', '2005_Tent_Overnights',
       '2006_Tent_Overnights', '2007_Tent_Overnights', '2008_Tent_Overnights',
       '2009_Tent_Overnights', '2010_Tent_Overnights', '2011_Tent_Overnights',
       '2012_Tent_Overnights', '2013_Tent_Overnights', '2014_Tent_Overnights',
       '2015_Tent_Overnights', '2016_Tent_Overnights', '2017_Tent_Overnights',
       'Average_1998_2017_Tent_Overnights', '1979_Tent_Overnights',
       '1980_Tent_Overnights', '1981_Tent_Overnights', '1982_Tent_Overnights',
       '1983_Tent_Overnights', '1984_Tent_Overnights', '1985_Tent_Overnights',
       '1986_Tent_Overnights', '1987_Tent_Overnights', '1988_Tent_Overnights',
       '1989_Tent_Overnights', '1990_Tent_Overnights', '1991_Tent_Overnights',
       '1992_Tent_Overnights', '1993_Tent_Overnights', '1994_Tent_Overnights',
       '1995_Tent_Overnights', '1996_Tent_Overnights', '1997_Tent_Overnights',
       'Average_1979_1997_Tent_Overnights'],
      dtype='object')

In [16]:

'''
Use regex match to get the column names for all the data
\d+_RV_Overnights along with Park Name
'''
rv_overnights = merged_dataset.filter(regex=("(\d+_RV_Overnights)|(Park)"))
rv_overnights.columns

Index(['Park Name', '1998_RV_Overnights', '1999_RV_Overnights',
       '2000_RV_Overnights', '2001_RV_Overnights', '2002_RV_Overnights',
       '2003_RV_Overnights', '2004_RV_Overnights', '2005_RV_Overnights',
       '2006_RV_Overnights', '2007_RV_Overnights', '2008_RV_Overnights',
       '2009_RV_Overnights', '2010_RV_Overnights', '2011_RV_Overnights',
       '2012_RV_Overnights', '2013_RV_Overnights', '2014_RV_Overnights',
       '2015_RV_Overnights', '2016_RV_Overnights', '2017_RV_Overnights',
       '1979_RV_Overnights', '1980_1979_1997_RV_Overnights',
       '1981_RV_Overnights', '1982_RV_Overnights', '1983_RV_Overnights',
       '1984_RV_Overnights', '1985_RV_Overnights', '1986_RV_Overnights',
       '1987_RV_Overnights', '1988_RV_Overnights', '1989_RV_Overnights',
       '1990_RV_Overnights', '1991_RV_Overnights', '1992_RV_Overnights',
       '1993_RV_Overnights', '1994_RV_Overnights', '1995_RV_Overnights',
       '1996_RV_Overnights', '1997_RV_Overnights'],
      dtype='object')

In [17]:

'''
Use regex match to get the column names for all the data
\d+_BackCountry_Overnights along with Park Name
'''
backcountry_overnights = merged_dataset.filter(regex=("(\d+_BackCountry_Overnights)|(Park)"))
backcountry_overnights.columns

Index(['Park Name', '1979_BackCountry_Overnights',
       '1980_BackCountry_Overnights', '1981_BackCountry_Overnights',
       '1982_BackCountry_Overnights', '1983_BackCountry_Overnights',
       '1984_BackCountry_Overnights', '1985_BackCountry_Overnights',
       '1986_BackCountry_Overnights', '1987_BackCountry_Overnights',
       '1988_BackCountry_Overnights', '1989_BackCountry_Overnights',
       '1990_BackCountry_Overnights', '1991_BackCountry_Overnights',
       '1992_BackCountry_Overnights', '1993_BackCountry_Overnights',
       '1994_BackCountry_Overnights', '1995_BackCountry_Overnights',
       '1996_BackCountry_Overnights', '1997_BackCountry_Overnights',
       'Average_1979_1997_BackCountry_Overnights'],
      dtype='object')

In [18]:

'''
Use regex match to get the column names for all the data
\d+_Non_Recreational_Overnights along with Park Name
'''
non_recreational_overnights = merged_dataset.filter(regex=("(\d+_Non_Recreational_Overnights)|(Park)"))
non_recreational_overnights.columns

Index(['Park Name', '1998_Non_Recreational_Overnights',
       '1999_Non_Recreational_Overnights', '2000_Non_Recreational_Overnights',
       '2001_Non_Recreational_Overnights', '2002_Non_Recreational_Overnights',
       '2003_Non_Recreational_Overnights', '2004_Non_Recreational_Overnights',
       '2005_Non_Recreational_Overnights', '2006_Non_Recreational_Overnights',
       '2007_Non_Recreational_Overnights', '2008_Non_Recreational_Overnights',
       '2009_Non_Recreational_Overnights', '2010_Non_Recreational_Overnights',
       '2011_Non_Recreational_Overnights', '2012_Non_Recreational_Overnights',
       '2013_Non_Recreational_Overnights', '2014_Non_Recreational_Overnights',
       '2015_Non_Recreational_Overnights', '2016_Non_Recreational_Overnights',
       '2017_Non_Recreational_Overnights',
       'Average_1998_2017_Non_Recreational_Overnights',
       '1979_Non_Recreational_Overnights', '1980_Non_Recreational_Overnights',
       '1981_Non_Recreational_Overnights', '1982_Non_Recreational_Overnights',
       '1983_Non_Recreational_Overnights', '1984_Non_Recreational_Overnights',
       '1985_Non_Recreational_Overnights', '1986_Non_Recreational_Overnights',
       '1987_Non_Recreational_Overnights', '1988_Non_Recreational_Overnights',
       '1989_Non_Recreational_Overnights', '1990_Non_Recreational_Overnights',
       '1991_Non_Recreational_Overnights', '1992_Non_Recreational_Overnights',
       '1993_Non_Recreational_Overnights', '1994_Non_Recreational_Overnights',
       '1995_Non_Recreational_Overnights', '1996_Non_Recreational_Overnights',
       '1997_Non_Recreational_Overnights',
       'Average_1979_1997_Non_Recreational_Overnights'],
      dtype='object')

In [19]:
'''
Use regex match to get the column names for all the data
\d+_Non_Recreational_Hours along with Park Name
'''
non_recreational_hours = merged_dataset.filter(regex=("(\d+_Non_Recreational_Hours)|(Park)"))
non_recreational_hours.columns

Index(['Park Name', '1998_Non_Recreational_Hours',
       '1999_Non_Recreational_Hours', '2000_Non_Recreational_Hours',
       '2001_Non_Recreational_Hours', '2002_Non_Recreational_Hours',
       '2003_Non_Recreational_Hours', '2004_Non_Recreational_Hours',
       '2005_Non_Recreational_Hours', '2006_Non_Recreational_Hours',
       '2007_Non_Recreational_Hours', '2008_Non_Recreational_Hours',
       '2009_Non_Recreational_Hours', '2010_Non_Recreational_Hours',
       '2011_Non_Recreational_Hours', '2012_Non_Recreational_Hours',
       '2013_Non_Recreational_Hours', '2014_Non_Recreational_Hours',
       '2015_Non_Recreational_Hours', '2016_Non_Recreational_Hours',
       '2017_Non_Recreational_Hours',
       'Average_1998_2017_Non_Recreational_Hours',
       '1979_Non_Recreational_Hours', '1980_Non_Recreational_Hours',
       '1981_Non_Recreational_Hours', '1982_Non_Recreational_Hours',
       '1983_Non_Recreational_Hours', '1984_Non_Recreational_Hours',
       '1985_Non_Recreational_Hours', '1986_Non_Recreational_Hours',
       '1987_Non_Recreational_Hours', '1988_Non_Recreational_Hours',
       '1989_Non_Recreational_Hours', '1990_Non_Recreational_Hours',
       '1991_Non_Recreational_Hours', '1992_Non_Recreational_Hours',
       '1993_Non_Recreational_Hours', '1994_Non_Recreational_Hours',
       '1995_Non_Recreational_Hours', '1996_Non_Recreational_Hours',
       '1997_Non_Recreational_Hours',
       'Average_1979_1997_Non_Recreational_Hours'],
      dtype='object')

In [20]:
'''
Use regex match to get the column names for all the data
\d+_Recreational_Hours along with Park Name
'''
recreational_hours = merged_dataset.filter(regex=("(\d+_Recreational_Hours)|(Park)"))
recreational_hours.columns

Index(['Park Name', '1998_Recreational_Hours', '1999_Recreational_Hours',
       '2000_Recreational_Hours', '2001_Recreational_Hours',
       '2002_Recreational_Hours', '2003_Recreational_Hours',
       '2004_Recreational_Hours', '2005_Recreational_Hours',
       '2006_Recreational_Hours', '2007_Recreational_Hours',
       '2008_Recreational_Hours', '2009_Recreational_Hours',
       '2010_Recreational_Hours', '2011_Recreational_Hours',
       '2012_Recreational_Hours', '2013_Recreational_Hours',
       '2014_Recreational_Hours', '2015_Recreational_Hours',
       '2016_Recreational_Hours', '2017_Recreational_Hours',
       'Average_1998_2017_Recreational_Hours', '1979_Recreational_Hours',
       '1980_Recreational_Hours', '1981_Recreational_Hours',
       '1982_Recreational_Hours', '1983_Recreational_Hours',
       '1984_Recreational_Hours', '1985_Recreational_Hours',
       '1986_Recreational_Hours', '1987_Recreational_Hours',
       '1988_Recreational_Hours', '1989_Recreational_Hours',
       '1990_Recreational_Hours', '1991_Recreational_Hours',
       '1992_Recreational_Hours', '1993_Recreational_Hours',
       '1994_Recreational_Hours', '1995_Recreational_Hours',
       '1996_Recreational_Hours', '1997_Recreational_Hours',
       'Average_1979_1997_Recreational_Hours'],
      dtype='object')

In [21]:
recreational_hours.shape

(379, 42)

In [22]:
non_recreational_hours.shape

(379, 42)

In [23]:
non_recreational_overnights.shape

(379, 42)

In [24]:
tent_overnights.shape

(379, 42)